$container-max-width: 1200px;
$button-border-radius: 8px;
$color-white: #fff;
$color-gray-light: #adadad;
$color-white-dark: #f6f6f6;
$color-red: #eb1424;
$color-green: rgb(0 128 0 / 25%);
$color-black: #000;
$color-gray: #e9edf2;
$mobile-width: 760px;
$input-padding: 12px;
$input-margin-bottom: 1rem;
$react-datepicker-width: 240px;
$icon-height: 24px;
$doc-margin-bottom: 3px;
$label-transition: 0.2s;
$input-height: 50px;
$input-font-size: 14px;
$label-shift: 3px;
$label-top: calc($input-height / 2 - $input-font-size - $label-shift);
