// Deps ALERT_TRANSITION
$alert-transition: 0.3s;

// Deps ALERT_TRANSITION-Y
$alert-transition-y: 0.1s;
$container-max-width: 1200px;
$button-border-radius: 8px;
$color-gray: #e9edf2;
$mobile-width: 760px;
$small-width: 320px;
$x-small-width: 240px;
$input-padding: 12px;
$input-margin-bottom: 1rem;
$form-item-margin-top: 1rem;
$doc-margin-bottom: 3px;
$input-border-width: 2px;
$input-height: 50px;
$input-font-size: 14px;
$label-shift: 3px;
$label-top: calc($input-height / 2 - $input-font-size - $label-shift);
$input-border-radius: 5px;
$app-bar-height: 60px;
$color-black: black;

// Deps MENU_TRANSITION
$menu-transition: 0.3s;

// Deps ICON_WIDTH_DEFAULT
$icon-width-default: 24px;

// Deps LOAD_PAGE_DURATION
$load-page-duration: 1s;
