@import '../styles/constants';

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: $small-width;

  form {
    padding-top: 1px;
  }
}

.container {
  position: relative;
  max-width: $container-max-width;

  .actives {
    position: relative;
    padding-top: $form-item-margin-top;
  }
}

.link {
  padding-top: $form-item-margin-top;
  text-align: right;
}
