@import '../../styles/constants';

$alert-width: 320px;
$alert-height: 50px;
$alert-indent: 1rem;

.item {
  position: fixed;
  width: $alert-width;
  height: $alert-height;
  border-radius: $input-border-radius;
  left: calc(100vw + $alert-width + $alert-indent);
  background-color: wheat;
  font-size: small;
  z-index: 15;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  transition: left $alert-transition ease-out;
  user-select: all;
  word-wrap: break-word;

  &.i__0 {
    bottom: calc($alert-indent);
  }

  &.i__1 {
    bottom: calc($alert-height + $alert-indent * 2);
  }

  &.i__2 {
    bottom: calc($alert-height * 2 + $alert-indent * 3);
  }

  &.i__3 {
    bottom: calc($alert-height * 3 + $alert-indent * 4);
  }

  &.i__4 {
    bottom: calc($alert-height * 4 + $alert-indent * 5);
  }

  &.i__5 {
    bottom: calc($alert-height * 5 + $alert-indent * 6);
  }

  &.i__6 {
    bottom: calc($alert-height * 6 + $alert-indent * 7);
  }

  &.i__7 {
    bottom: calc($alert-height * 7 + $alert-indent * 8);
  }

  &.i__8 {
    bottom: calc($alert-height * 8 + $alert-indent * 9);
  }

  &.i__9 {
    bottom: calc($alert-height * 9 + $alert-indent * 10);
  }

  &.open {
    animation: open $alert-transition ease-in;
    left: calc(100vw - $alert-width - $alert-indent);
    transition: bottom $alert-transition-y ease-out;
  }

  .pseudo__close {
    position: relative;
    width: $icon-width-default;
  }

  &.fixed {
    z-index: 13;
  }
}

@keyframes open {
  0% {
    left: calc(100vw + $alert-width + $alert-indent);
  }

  100% {
    left: calc(100vw - $alert-width - $alert-indent);
  }
}
