$cheap-text-margin: 0.5rem;

.wrapper {
  position: relative;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: smaller;
  display: inline-block;

  &.disabled {
    cursor: default;
    opacity: 0.5;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .active {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .postfix {
      position: relative;
      margin: 0 $cheap-text-margin;
      font-size: smaller;
    }

    .symbol {
      font-size: large;
      margin: 0 $cheap-text-margin;
    }

    .text {
      position: relative;
      margin: 0 $cheap-text-margin;
      vertical-align: baseline;
    }
  }
}
