@import '../../styles/constants';

$disabled-opacity: 0.3;


.wrapper {
  position: relative;
  display:contents;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: transparent;

  .icon__text {
    position: relative;
    max-width: $icon-button-width; 
    cursor: default;
  }

  &:disabled {
    opacity: $disabled-opacity;
    cursor: default;
  }

 

  
}

.icon {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  width: $icon-button-width;
  height: $icon-button-width;
  
 
  .text {
    overflow: hidden;
  }

  &.small {
    width:  calc($icon-width-default / 1.5);
    height: calc($icon-width-default / 1.5);
  }

  @media (max-width: $mobile-width) {
    width: calc($icon-width-default + 10px);
  }

  
}
