$image-back-color: rgba(
  $color: #000,
  $alpha: 80%,
);
$image-transition: 0.2s;

.wrapper {
  position: relative;
  cursor: pointer;
  transition: background-color $image-transition ease-in;
  overflow: auto;
  display: inline-block;

  .close {
    display: none;
  }

  &.full {
    position: fixed;
    cursor: zoom-in;
    display: flex;
    align-items: center;
    z-index: 13;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $image-back-color;
    transition: background-color $image-transition ease-out;

    img {
      position: relative;
      display: inline-block;
      margin: auto;
      padding: initial;
    }

    &.default {
      cursor: default;
    }

    &.zoom__out {
      cursor: zoom-out;
    }

    .close {
      position: fixed;
      display: block;
      top: 1rem;
      right: 1rem;
      background-color: $image-back-color;
      border-radius: 50%;
      border: none;
      cursor: pointer;
    }
  }
}
