@import '../../styles/constants';

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: $form-item-margin-top;
  flex-direction: column;

  label {
    position: absolute;
    cursor: text;
    display: flex;
    align-items: flex-start;
    left: $input-padding;
    padding: $label-padding;
    top: $label-top;
    z-index: 0;
    font-size: $input-font-size;
    border-radius: 5px;

    &.disabled {
      // opacity: 0.5;
    }
  }

  input {
    width: $small-width;

    &:focus {
      outline: none;
    }

    &:focus + label {
      top: calc(($label-shift + $label-top) * -1);
      padding-top: 0;
    }

    &:not(:placeholder-shown) + label {
      top: calc(($label-top + $label-shift) * -1);
      padding-top: 0;
    }

    &.full__width {
      width: 100%;
    }

    &.disabled {
      opacity: 0.5;
    }

    position: relative;
    border-width: $input-border-width;
    border-style: groove;
    border-radius: $input-border-radius;
    margin-bottom: $input-margin-bottom;
    font-size: $input-font-size;
    height: $input-height;
    box-shadow: none;
    padding: 0 $input-padding;
    margin-left: 0;
    @media (max-width: $small-width) {
      width: 100%;
    }

    &.error {
      // border-style: groove;
    }

    &.success {
      // border-width: 2px;
    }
  }

  .error {
    margin-bottom: -1px;
    font-size: small;
  }
}
