@import '../../styles/constants';

$container-top: calc($app-bar-height / 2 - 6px);

.wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;

  .button {
    cursor: pointer;
    position: relative;
    margin: 0 1rem;
    right: calc((100vw - $translate-container-max) / 2);
    transform: rotate(180deg);
    border: none;
    transition: all $menu-transition ease-in;
    background-color: transparent;

    @media (max-width: $translate-container-max) {
      right: 0;
    }

    &:active {
      opacity: 0.5;
    }

    &.open {
      position: fixed;
      top: calc($app-bar-height / 2 - $icon-width-default / 2 + 2px);
      transition: all $menu-transition ease-out;

      @media (max-width: $translate-container-max) {
        margin-right: $small-width;
      }

      @media (max-width: $small-width) {
        margin-right: $x-small-width;
      }
    }
  }

  .container {
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: $container-top;
    width: $small-width;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    left: calc(100vw + $small-width);
    margin-top: 0;
    height: calc(100vh - $icon-width-default * 4);
    transition: all $menu-transition ease-in;
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;

    @media (max-width: $small-width) {
      width: $x-small-width;
      left: calc(100vw + $x-small-width);
    }

    &.open {
      z-index: 12;
      opacity: 1;
      left: calc(100vw - $small-width);
      transition: all $menu-transition ease-out;

      @media (max-width: $small-width) {
        left: calc(100vw - $x-small-width);
      }
    }
  }
}
