@import '../../styles/constants';

.wrapper {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-width: calc(($small-width - 2rem) / 2);

  label {
    position: absolute;
    display: inline-block;
    margin-left: $label-left;
    font-size: $input-font-size;
    white-space: nowrap;
    top: calc(($label-shift + $label-top) * -1);
  }

  select {
    height: $input-height;
    padding-left: $input-padding;
    border-radius: $input-border-radius;
    border-width: 1px;
    border-style: solid;
    max-width: calc($small-width - 2rem);
    appearance: none;

    &:disabled {
      opacity: 0.5;
    }
  }

  option {
    cursor: pointer;
    line-height: 3;
  }
}
