@import '../../styles/constants';

.wrapper {
  position: relative;
  width: 100%;

  textarea {
    width: 100%;
    font-size: large;
    padding: 0.6rem;
    border-radius: $input-border-radius;

    &:focus {
      outline: none !important;
    }
  }
}
