@import '../../styles/constants';

.wrapper {
  position: relative;
  width: 100%;

  textarea {
    width: 100%;
    resize: vertical;
    font-size: large;
    padding: $textarea-padding calc($icon-width-default * $text-area-activities-coeff) $textarea-padding $textarea-padding;
    border-radius: $input-border-radius;

    &:focus {
      outline: none !important;
    }
  }

  .info {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    opacity: 0.7;

    .error {
      word-wrap: break-word;
      max-width: 70%;
      font-size: small;
    }

    .count_symbols {
      text-align: right;
      font-size: small;
      margin: 0 0 0 auto;
    }
  }

  
}
