.wrapper {
  position: relative;
  display: inline-block;
  padding: 1px;

  label {
    font-size: small;
  }
  
  &.blur {
    opacity: 0.5;
  }

  b {
    font-family: monospace;
    font-size: large;
  }

  i {
    font-family: monospace;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.center {
    text-align: center;
  }

  &.justify {
    text-align: justify;
  }

  &.right {
    text-align: right;
  }

  &.small {
    font-size: small;
  }

  &.large {
    font-size: large;
  }
}
