@import '../../styles/constants';

.wrapper {
  position: relative;
  display: inline-block;
  padding: 1px;
  overflow: hidden;

  &.full_width {
    width: 100%;
  }
  
  p, h1, h2, h3, h4, h5, h6, label, span {
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }

  a {
    text-decoration: underline;
  }

  label {
    font-size: small;
  }
  
  &.blur {
    opacity: $blur-opacity;
  }

  b {
    font-family: monospace;
    font-size: large;
  }

  i {
    font-family: monospace;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.center {
    text-align: center;
  }

  &.justify {
    text-align: justify;
  }

  &.right {
    text-align: right;
  }

  &.small {
    font-size: small;
  }

  &.smaller {
    font-size: xx-small;
  }

  &.large {
    font-size: large;
  }

  &.nowrap {
    white-space: nowrap;
  }
}
