{
  "env": {
    "es2021": true,
    "node": true,
    "browser": true
  },
  "root": true,
  "extends": [
    "plugin:react/recommended",
    "react-app",
    "airbnb",
    "react-app/jest",
    "eslint:recommended",
    "eslint-config-prettier",
    "eslint-config-next",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint", "react", "eslint-plugin-prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "ignorePatterns": ["node_modules"],
  "rules": {
    "no-unused-vars": 1,
    "prettier/prettier": 1,
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".tsx", ".jsx", ".css", ".scss", ".esm", ".hooks", ".lib", ".context"] }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "no-nested-ternary": 0,
    "react/jsx-props-no-spreading": 1,
    "class-methods-use-this": 1
  }
}
