@import '../styles/constants';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: $translate-container-max;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .title {
      position: relative;
      width: 100%;
      text-align: center;
    }

    .item {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .value {
        text-decoration: underline;
      }

    }

    .link {
      margin: 0.5rem 0;
    }
  }
}