@import '../styles//constants.scss';

.wrapper {
  position: fixed;
  z-index: 11;
  top: calc($app-bar-height * -1);
  right: 0;
  height: $app-bar-height;
  transition: top $app-bar-transition ease-in;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .bottom {
    position: relative;
    width: 100%;
    margin-top: auto;
  }

  .links {
    position: relative;
    width: 100%;
    max-width: $translate-container-max;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
    left: calc((100vw - $translate-container-max) / 2);

    .items {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .langs_tooltip {
      display: flex;
      flex-flow: row wrap;

      .lang_item {
        margin: 0 1rem;
      }
    }

    .actions {
      position: relative;
      right: 80px;
      display: flex;
      align-items: center;

      .translate_icon {
        margin-right: 0.3rem;
      }
    }

    @media (max-width: $translate-container-max) {
      left: 0;
    }

    .item {
      margin-left: 1rem;
    }

    &:first-child {
      margin-left: 0;
    }

    
  }

  &.full {
    left: 0;
    width: 100%;
  }

  &.open {
    top: 0;
    transition: top $app-bar-transition ease-out;
  }
}

.expand__less {
  cursor: pointer;
  position: fixed;
  z-index: 12;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: bottom $app-bar-transition ease-in;
  border: none;

  &.open {
    bottom: 20px;
    transition: bottom $app-bar-transition ease-out;
  }

  &:active {
    opacity: 0.5;
  }
}

.menu__item {
  position: relative;
  width: 100%;
  padding: 12px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &.active {
    cursor: pointer;

    &:hover {
      background-color: rgba($color: #000, $alpha: 10%);
    }
  }

  &.disabled {
    background-color: rgba($color: #000, $alpha: 10%);
    cursor: default;
  }
}
