@import '../styles//constants.scss';

$app-bar-transition: 0.2s;

.wrapper {
  position: fixed;
  z-index: 11;
  top: calc($app-bar-height * -1);
  right: 0;
  width: 40px;
  height: $app-bar-height;
  transition: top $app-bar-transition ease-in;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .links {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 1rem;

    .item {
      margin-left: 1rem;
    }

    &:first-child {
      margin-left: 0;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &.full {
    left: 0;
    width: 100%;
  }

  &.open {
    top: 0;
    transition: top $app-bar-transition ease-out;
  }
}

.expand__less {
  cursor: pointer;
  position: fixed;
  z-index: 12;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: bottom $app-bar-transition ease-in;
  border: none;

  &.open {
    bottom: 20px;
    transition: bottom $app-bar-transition ease-out;
  }

  &:active {
    opacity: 0.5;
  }
}

.menu__item {
  position: relative;
  width: 100%;
  padding: 12px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &.active {
    cursor: pointer;

    &:hover {
      background-color: rgba($color: #000, $alpha: 10%);
    }
  }
}
