@import '../styles/constants';

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .container {
    position: relative;
    width: 100%;
    max-width: $container-max-width;
    display: flex;
    flex-direction: column;
  }

  .link {
    text-align: center;
    margin: 2rem;
  }
}
