@import "../styles/constants";

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  margin-top: calc($app-bar-height + 1rem);
  width: 100%;
  height: 100%;
  min-height: 90vh;
  max-width: $translate-container-max;
  padding: 1rem;
}

.title {
  text-align: center;
}

.page__text {
  b {
    color: $color-black;
  }

  table {
    margin: auto;

    td {
      padding: 0.5rem;

      &:first-child {
        text-decoration: underline;
      }

      @media (max-width: $mobile-width) {
        font-size: small;
      }
    }
  }
}