@import '../styles/constants';

$phrase-item-margin: 1.5rem;
$search-input-wudth-coeff: 1.5;


.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .button_margin {
    width: 1rem;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: $translate-container-max;
    padding: 0 $container-padding;
    margin-top: 2rem;

    .global_filters {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .global_filters__item {
        margin: 0.5rem;
      }
    }

    .search {
      position: relative;
      display: flex;
      flex-flow: row wrap-reverse;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.5rem;
      width: 100%;

      .input_wrapper {
        max-width: calc($small-width * $search-input-wudth-coeff);
        width: 100%;
      }

      input {
        min-width: calc($small-width - 4rem);
        width: 100%;
        max-width: calc($small-width * $search-input-wudth-coeff);
      }

      .search_input {
        margin-bottom: 0;
      }

      .sorts {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 1rem 0;

        .sort_item {
          display: flex;
          flex-direction: row;
          align-items: center;

          &:first-child {
            margin-right: 0.5rem;
          }
        }

        .asc {
          position: relative;
          transition: transform 0.1s ease-in;
        }

        .desc {
          position: relative;
          transform: rotate(180deg);
          transition: transform 0.1s ease-out;
        }
      }
    }

    .selected_container {
      position: relative;
      width: 100%;
      max-width: $translate-container-max;
    }

    .selected_items {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      border-style: groove;
      border-width: 1px;
      border-radius: 4px;
      height: $fixed-tools-hight;


      .selected_items__button {
        cursor: pointer;
      }

      &.selected_items__fixed {
        position: fixed;
        z-index: 12;
        max-width: calc($translate-container-max - $container-padding * 2);
        left: calc((100vw - ($translate-container-max - $container-padding)) / 2);

        @media (max-width: $translate-container-max) {
            left: 0;
        }
      }
    }

    .pagination {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      opacity: 0.6;
      margin-bottom: 0.2rem;

      &.bottom {
        margin-top: 1rem;
      }
    }

    .reset_filters {
      display: flex;
      justify-content: flex-start;
    }

    .phrases {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-top: 1rem;

    }

    .filters_spoiler {
      margin-top: 1.5rem;
    
      .filters {
        padding: 1rem;

        &.filters__open {
          border-bottom-left-radius: $input-border-radius;
          border-bottom-right-radius: $input-border-radius;
        }

        .filters_tags {
          margin: 1rem;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
        }
      }
    }

    .item_container {
      position: relative;
      width: 100%;

      .actions {
        margin-bottom: calc(-1 * $phrase-item-margin);
        margin-top: $phrase-item-margin;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .menu_tooltip {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
        }
      }

      .item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        border-width: 1px;
        border-style: groove;
        border-radius: 4px;
        margin: $phrase-item-margin 0 0 0;
        padding: 0 1rem;

        .item__content {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          .item__translate {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }

        .item__selector {
          margin-left: 0.8rem;
        }

        .translate {
          margin-left: 1rem;
        }
      }

      .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .tags {
          display: flex;
          flex-flow: row wrap;

          .tag_item {
            position: relative;
            display: inline-block;
            margin: 0 4px;
          }
        }

        .date {
          margin-left: 0.5rem;
        }
      }
    }
  }

  .play_button {
    margin: 0.2em;
    display: inline-block;

    .play_button__container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0.65em;
    }
  }

  .played_phrase {
    position: relative;
    overflow: hidden;
    display: block;
    max-height: 100%;

    .content {
      position: relative;
      display: inline;
      width: auto;

      &.animate {
        animation-name: moving;
        animation-timing-function: linear;
        left: 0;
      }
      @keyframes moving {
        0%   {left:0;}
        100% {left:-200%;}
      }
    }
  }

}
