@import '../styles/constants';

.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  .container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin: $container-margin;
    flex-direction: column;
    max-width: $container-max-width;

    form {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      margin-top: 2rem;

      .send__button {
        margin-left: 1rem;
      }
    }

    .status__container {
      position: relative;
      width: 100%;
      text-align: right;
    }

    .files {
      position: relative;
      display: flex;
      flex-flow: row wrap;

      .item {
        position: relative;
        margin: 1rem;

        .file__name {
          position: absolute;
          display: inline-block;
          word-wrap: break-word;
          white-space: pre;
        }
      }
    }
  }
}
