@import '../styles/constants';

$speech-select-shift: 8px;
$settings-margin-left: 1rem;

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .container {
    position: relative;
    width: 100%;
    max-width: $translate-container-max;
    padding: 1rem 1rem 2rem ;

    .select_node {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    

    .email_input {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .email_input__icon {
        margin-left: 1rem;

        .opacity {
          opacity: 0.6;
        }
      }
    }

    .test_input {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      margin-top: 2rem;

      .speech_button {
        margin-left: 2rem;
      }

      .test_input__item {
        position: relative;
        margin-left: 1rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        border-style: groove;
        border-width: 1px;
        padding: $input-padding;
        border-radius: $input-border-radius;
        
      }

      .lang_select {
        margin: $settings-margin-left $settings-margin-left $speech-select-shift ;

        .lang_select__voice {
          margin-top: 2rem;
        }
      }

      .speed_select {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: $settings-margin-left $settings-margin-left $speech-select-shift;
        border-style: groove;
        border-radius: $input-border-radius;
        padding: $input-padding;
        border-width: 1px;
      }
      
    }

    .personal_data {
      margin-top: 2rem;

      
      .delete_button {
        position: relative;
        margin-top: 2rem;
        cursor: pointer;
        opacity: 0.5;
        display: inline-block;
      }

      .change_password_spoiler {
        position: relative;
        width: 100%;
        max-width: $small-width;
        margin-top: 1rem;
        margin-bottom: 3rem;
      }
    }
  }
}

.button {
  align-items: flex-start !important;
}

.warning_delete {
  width: 80%;
}



.save_test_text_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  vertical-align: top;
  padding: 2rem;
  height: 100%;
}