@import '../styles/constants';

$speech-select-shift: 8px;

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .container {
    position: relative;
    width: 100%;
    max-width: $translate-container-max;
    padding: 1rem;

    

    .email_input {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .email_input__icon {
        margin-left: 1rem;

        .opacity {
          opacity: 0.6;
        }
      }
    }

    .test_input {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin-top: 2rem;

      .speech_button {
        margin-left: 1rem;
      }

      .test_input__item {
        margin-left: 1rem;
      }

      .lang_select {
        margin-bottom: $speech-select-shift;
      }

      .speed_select {
        display: flex;
        flex-direction: column;
        margin-bottom: $speech-select-shift;
        margin-left: 1rem;
      }
    }

    .personal_data {
      margin-top: 2rem;

      
      .delete_button {
        position: relative;
        margin-top: 2rem;
        cursor: pointer;
        opacity: 0.5;
        display: inline-block;
      }

      .change_password_spoiler {
        position: relative;
        width: 100%;
        max-width: $small-width;
        margin-top: 1rem;
        margin-bottom: 3rem;
      }
    }
  }
}

.button {
  align-items: flex-start !important;
}

.warning_delete {
  width: 80%;
}