@import '../styles/constants';

$speech-select-shift: 8px;

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .container {
    position: relative;
    width: 100%;
    max-width: $translate-container-max;
    padding: 1rem;

    

    .test_input {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin-top: 2rem;

      .speech_button {
        margin-left: 1rem;
      }

      .test_input__item {
        margin-left: 1rem;
      }

      .lang_select {
        margin-bottom: $speech-select-shift;
      }

      .speed_select {
        display: flex;
        flex-direction: column;
        margin-bottom: $speech-select-shift;
        margin-left: 1rem;
      }
    }

    .personal_data {
      margin-top: 2rem;

      
      .delete_button {
        display: block;
        margin-top: 2rem;
        cursor: pointer;
        
      }
    }
  }
}

.button {
  align-items: flex-start !important;
}

.warning_delete {
  width: 80%;
}