@import '../styles/constants.scss';

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .dialog {
    display: flex;
    flex-direction: column;

    .check_item {
      margin: 1rem 0;
    }

    .actions {
      margin: 1.2rem 0;
      display: flex;
      align-items: row;
      width: 100%;
      justify-content: space-around;
    }

    .button {
      min-width: 90px;
    }
  }

  .container {
    position: relative;
    width: 100%;
    max-width: $translate-container-max;
    margin: 1rem;
    padding: 1rem;

    .tag_cloud {
      display: flex;
      flex-flow: row wrap;

      .tag_cloud__item {
        opacity: 0.5;
        margin: 0 0.2rem;
      }
    }

    .title {
      text-align: center;
    }

    .sound_button {
      margin-left: 1rem;
      display: flex;
      align-items: center;
    }

    .textarea {
      position: relative;
      width: 100%;
      margin-top: 2rem;

      .close_button {
        position: absolute;
        top: 4px;
        right: 4px;
      }
    }

    .selectors {
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .native_res {
      margin: 1rem 0;
    }

    .retrans_container {
      display: flex;
      flex-direction: row;

      .learn_res {
        cursor: pointer;
        display: inline-block;

        &:hover {
          opacity: 0.8;
        }

        &.disabled {
          cursor: text;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .actions {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .active {
    padding: 0.5rem;
    margin: 1rem 0;
    width: 100%;
    border-radius: 4px;
  }

  .tags {
    .title {
      h4 {
        margin-bottom: 1rem;
      }
    }

    .input {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .field {
        margin: 0;
      }

      .field_wrapper {
        margin: 0;
      }
    }

    .box {
      flex-flow: row wrap;
      margin-top: 1rem;

      .menu_tooltip {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}
