@import '../styles/constants';


.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;


  .dialog {
    display: flex;
    flex-direction: column;

    .actions {
      margin: 1.2rem 0;
      display: flex;
      align-items: row;
      width: 100%;
      justify-content: space-around;
    }

    .button {
      min-width: 90px;
    }
  }

  .container {
    position: relative;
    width: 100%;
    max-width: $translate-container-max;
    margin: 1rem;
    padding: 1rem;

    .tag_cloud {
      display: flex;
      flex-flow: row wrap;

      .tag_cloud__item {
        opacity: 0.5;
        margin: 0 0.2rem;
      }
    }

    .title {
      text-align: center;
    }

    .translate_actions {
      margin-left: 1rem;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }

    // name used in packages/app/components/Translate.tsx.createSelector
    .textarea {
      position: relative;
      width: 100%;
      margin-top: 2rem;

      .close_button {
        position: absolute;
        top: 0;
        right: 0;
      }

      .copy_button {
        position: relative;

        &.copy_button__allow_recogn {
          margin-top: 0.5rem;
        }
      }

      .micro_button {
        position: absolute;
        bottom: calc($textare-button-indent + 2rem);
        right: 0;
        display: flex;
        flex-direction: column;
      }
    }

    .selectors {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .swap_button {
        margin: 0 0.5rem;
        display: flex;
        align-items: center;
      }
    }

    // name used in packages/app/components/Translate.tsx.createSelector
    .native_res {
      margin: 0.1rem 0  ;
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      .copy_button {
        margin: 0;
      }
    }

    .trans_container {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 0.5rem;

      .trans_container__result {
        position: relative;
        display: flex;
        flex-direction: row;
      }

      // name used in packages/app/components/Translate.tsx.createSelector
      .learn_res {
        cursor: pointer;
        display: inline-block;

        &:hover {
          opacity: 0.8;
        }

        &.disabled {
          cursor: text;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .actions {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .save_button {
        margin-top: 2rem;
      }
    }
  }

  .active {
    padding: 0.5rem;
    margin: 1rem 0;
    width: 100%;
    border-radius: 4px;
  }

  .check_item {
    margin: 1rem 0;
  }

  .tags_created {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 1rem 0;

    .tag_item {
      margin-right: 0.2rem; 
    }
  }

  .tags_spoiler {
    margin-top: 1.5rem;
    width: 100%;

    .tags {
      border-width: 2px;
      border-style: groove;
      width: 100%;
      padding: 1rem;

      &.tags__open {
        border-bottom-left-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
      }
      

      .title {
        h4 {
          margin-bottom: 1rem;
        }
      }

      .input {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .box {
        flex-flow: row wrap;
        margin-top: 1rem;

        .menu_tooltip {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
        }
      }
    }
  }

  .vert_margin {
    height: 1rem;
  }
}
