@import '../../styles/constants';

$alert-width: 320px;
$alert-height: 50px;
$alert-indent: 1rem;

.item {
  position: fixed;
  width: $alert-width;
  height: $alert-height;
  z-index: 13;
  border-radius: $input-border-radius;
  left: calc(100vw + $alert-width + $alert-indent);
  background-color: wheat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  transition: all $alert-transition ease-in;

  &.i__0 {
    top: calc(100vh - $alert-height - $alert-indent);
  }

  &.i__1 {
    top: calc(100vh - $alert-height * 2 - $alert-indent * 2);
  }

  &.i__2 {
    top: calc(100vh - $alert-height * 3 - $alert-indent * 3);
  }

  &.i__3 {
    top: calc(100vh - $alert-height * 4 - $alert-indent * 4);
  }

  &.i__4 {
    top: calc(100vh - $alert-height * 5 - $alert-indent * 5);
  }

  &.open {
    left: calc(100vw - $alert-width - $alert-indent);
    transition: all $alert-transition ease-out;
  }
}
