@import '../../styles//constants.scss';

$app-bar-transition: 0.2s;

.wrapper {
  position: fixed;
  z-index: 12;
  top: calc($app-bar-height * -1);
  left: 0;
  width: 100%;
  height: $app-bar-height;
  transition: top $app-bar-transition ease-in;

  &.open {
    top: 0;
    transition: top $app-bar-transition ease-out;
  }
}

.expand__less {
  cursor: pointer;
  position: fixed;
  z-index: 12;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: bottom $app-bar-transition ease-in;
  border: none;

  &.open {
    bottom: 20px;
    transition: bottom $app-bar-transition ease-out;
  }

  &:active {
    opacity: 0.5;
  }
}
