.wrapper {
  position: relative;
  width: auto;

  &.full__width {
    width: 100%;
  }

  &:hover {
    text-decoration: underline;
  }

  &.without__hover {
    &:hover {
      text-decoration: none;
    }
  }

  &.disabled {
    opacity: 0.5;

    &:hover {
      text-decoration: none;
    }
  }
}
