@import '../../styles/constants';

$tab-border-width: 2px;
$tab-cell-padding: 0.4rem;

.wrapper {
  position: relative;
  margin-top: $form-item-margin-top;
  border-width: $tab-border-width;
  border-style: groove;
  border-radius: $input-border-radius;
  min-height: 10rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .head {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .title {
      position: relative;
      cursor: pointer;
      width: 100%;
      border-right-width: $tab-border-width;
      border-right-style: groove;
      border-bottom-width: $tab-border-width;
      border-bottom-style: groove;
      text-align: center;
      padding: $tab-cell-padding;
      opacity: 0.3;

      &:last-child {
        border-right: none;
      }

      &.active {
        cursor: default;
        border-bottom-width: 0;
        opacity: 1;
      }
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: $tab-cell-padding;
    margin: auto 0;
    text-align: center;
    white-space: initial;
  }
}
