// Deps ALERT_TRANSITION
$alert-transition: 0.3s;

// Deps ALERT_TRANSITION-Y
$alert-transition-y: 0.1s;
$container-max-width: 1200px;
$container-margin: 1rem;
$button-border-radius: 8px;
$color-gray: #e9edf2;

// Deps MOBILE_WIDTH
$mobile-width: 760px;
$small-width: 320px;
$x-small-width: 240px;
$input-padding: 12px;
$input-margin-bottom: 2rem;
$form-item-margin-top: 1.5rem;
$doc-margin-bottom: 3px;
$container-padding: 1rem;
$input-border-width: 2px;
$input-height: 50px;
$input-font-size: 14px;
$label-shift: 1px;
$label-top: calc($input-height / 2 - $input-font-size - $label-shift);
$input-border-radius: 4px;

// Deps APP_BAR_HEIGHT
$app-bar-height: 60px;
$color-black: black;
$label-padding: calc($input-font-size / 2.2);
$label-left: calc($input-padding + $label-padding);
$translate-container-max: 760px;
$dialog-max-width: 720px;
$dialog-padding: 2rem;

// Deps HTML_EDITOR_HEIGHT
$html-editor-height: 300px;

// Deps MENU_TRANSITION
$menu-transition: 0.3s;

// Deps ICON_WIDTH_DEFAULT
$icon-width-default: 24px;

// Deps LOAD_PAGE_DURATION
$load-page-duration: 1s;

// Deps APP_BAR_TRANSITION
$app-bar-transition: 0.2s;

// Deps SPOILER_BORDER_WIDTH
$spoiler-border-width: 1px;